nav{
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: gray;
}

.nav-link.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.nav-button {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
