.cart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.cart-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cart-empty {
  text-align: center;
  color: var(--primary-color);
}

.cart-table-wrapper {
  overflow-x: auto;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-table th,
.cart-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.cart-image {
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}


.cart-remove-button {
  background-color: #7c0c0a;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.cart-remove-button:hover {
  background-color: #c62828;
}
